@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {box-sizing: border-box;}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: $light-gray;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.card {
    max-width: 20rem;
    padding: 1rem;
    border-radius: 15px;
    background-color: $white;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.card-content {
    padding: .5rem;
}

.card-title {
    font-size: 1.3rem;
    color: $dark-blue;
}

.card-desc {
    color: $grayish-blue;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
